body {
  background-color: #000000;
  padding: 0;
  color: #888;
}
.linknum {
  color: #666;
  font-size: 15px;
}
.noview {
  color: #000;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
h1 {
  font-size: 40px;
  color: #cccccc;
  span {
    color: #990000;
  }
}
h2 {
  font-size: 35px;
  color: #dddddd;
  margin: 10px;
}
h3 {
  font-size: 20px;
  color: #cccccc;
  margin: 10px;
}
h4 {
  font-size: 20px;
  color: #99bb99;
  margin: 10px;
}
p {
  color: #cccccc;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
span {
  color: #bbbbbb;
  text-decoration: none;
}
a {
  color: #9999bb;
  text-decoration: none;
}
.lang {
  margin: 0 15px;
}
.list {
  font-size: 50px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.button {
  margin: 20px 2px;
  padding: 20px;
  width: 48%;
  font-size: 50px;
  color: #666666;
  background-color: #bbbbbb;
  border-radius: 20px;
}
.selbutton {
  margin: 20px 2px;
  padding: 20px;
  width: 32%;
  font-size: 50px;
  background-color: #bbbbbb;
  border-radius: 20px;
}
.menu-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #111111;
}
.title-area {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #aaaaaa;
  font-size: 40px;
  font-weight: bold;
}
.menu-area {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #64a193;
  font-size: 40px;
  font-weight: bold;
}
.main-content {
  width: 100%;
  margin: 100px 20px 0px 20px;
}
.controller-adv {
  position: fixed;
  bottom: 120px;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controller-base {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controller-area {
  flex: 1;
  padding: 30px;
  text-align: center;
  background-color: #111111;
  color: #64a193;
  font-size: 50px;
  font-weight: bold;
}
#footerArea {
  position: fixed;
  background-color: #111111dd;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 40px;
}
.menutitle {
  color: #666666;
}
.sectionlink {
  color: #64a193;
  margin-right: 20px;
}
.dummyarea {
  display: block;
  width: 100%;
  height: 120px;
}
.wordlink {
  color: #64a193;
}
.fail {
  color: #8888ff;
}
.seccess {
  color: #ff8888;
}
.clear {
  color: #666666;
}
.master {
  color: #aa0000;
}
.rev {
  color: #0000aa;
}
.childNftArea {
  width: 100%;
}
.childNft {
  float: left;
  margin-right: 10px;
  width: 170px;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 2px 4px #274d7b3d;
  box-sizing: border-box;
  height: 220px;
  margin-bottom: 10px;
  padding: 5px 10px;
  position: relative;
  text-align: left;
  text-overflow: hidden;
  transition: all 0.2s ease-in-out;
  width: 170;
}
.titleThumb {
  font-size: 13px;
  font-weight: bold;
  height: 2em;
  line-height: 1em;
  overflow: scroll;
}
.nftImage {
  width: 600px;
}
.nft3DImage {
  width: 600px;
  height: 600px;
}
.nftThumbSquare {
  width: 150px; /* 正方形のサイズを指定 */
  height: 150px;
  overflow: hidden; /* 不要な部分を切り捨てる */
  position: relative; /* 子要素を相対的に配置するために親要素にpositionを指定 */
}

.nftThumb {
  width: auto; /* 親要素に合わせて画像の幅を100%にする */
  height: 100%; /* アスペクト比を維持するために高さを自動で調整 */
  display: block; /* 余分なスペースを削除するために画像をブロック要素として表示 */
  position: absolute; /* 画像を相対的に配置 */
  top: 50%; /* 上端を親要素の50%の位置に配置 */
  left: 50%; /* 左端を親要素の50%の位置に配置 */
  transform: translate(-50%, -50%); /* 画像を中央に移動 */
  object-fit: cover; /* 画像が親要素にフィットするように調整 */
}

.contractLinkList {
  margin: 10px 30px;
}

.floatClear {
  clear: both;
}

.BaseInput {
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 12px 16px;
  margin: 5px 5px 0 0;
  transition: all 0.2s ease-in-out;
}

.BaseSubmit {
  background: #3e3e3e;
  border: 0px solid #d1d1d1;
  border-radius: 8px;
  padding: 15px 16px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}
.wfull {
  width: 99%;
}
.w8p {
  width: 79%;
}
.w7p {
  width: 69%;
}
.w5p {
  width: 49%;
}
.w3p {
  width: 29%;
}
.w2p {
  width: 19%;
}
